:root {
  --primaryBorderColor: #4F4F4F;
  --primaryOrangeColor:#EB5757;
  --primaryTextColor: #333333;
  --secondaryTextColor:#BDBDBD;
  --typeTextColor:#828282;
  --typeTextWhiteColor:#FFFFFF;
  
}


.App {
  /* text-align: center; */
  margin:2rem 2.5rem;
}
