.guestWrapper{
    padding:5px 24px;
}
.guestCount{
    padding:15px 0;
}
.guestCount p{
    margin:0;
}
.guestCount p:first-child{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color:var(--primaryTextColor);
}
.guestCount p:nth-child(2){
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--secondaryTextColor);
}
.btnWrapper{
    display: flex;
    justify-content: space-between;
    width:100px;
    padding:10px 0;
}

.btnWrapper button{
    background: none;
    border:1px solid var(--typeTextColor);
    border-radius: 4px;
    padding:5px 8px;
}